# Terraform local directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform plan files
*.tfplan

# Crash logs
crash.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
